*{
	margin: 0;
	padding: 0;
}

head{
	background-image: url(img/bg.png);
	background-size: cover;
}

nav{
	width: 100%;
	height: 80px;
	background-color: white;
}

nsv ul {
	float: right;
}

nav ul li {
	float: right;
	list-style: none;
	position: relative;
}

nav ul li a {
	display: block;
	font-family: arial;
	color: black;
	font-size: 16px;
	font-weight: bold;
	padding: 22px 14px;
	text-decoration: none;
}

nav ul li a:hover {
	  background-color: rgb(229, 228, 228);
  color: black;
  border-radius: 100px;
}

nav ul li ul {
	display: none;
	position: absolute;
	background-color: #ececec;
	border-radius: 20px;
	padding: 5px 
}

nav ul li:hover ul {
	display: block;
}

nav ul li ul li{
	width: 100px;
	height: 50px;
	z-index: 1;
}
nav ul li ul li a{
	border-radius: 20px;
	padding: 8px 14px;
	
}

nav ul li ul li a:hover{
	background-color: #acadac;
	border-radius: 100px;
}

nav ul p{
	display: block;
	font-family: century gothic;
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;

}

nav p{
	float: left;
	padding: 14px 10px 10px 55px;
}

.logo{
	float: left;
	
center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
